@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #F4F1EB;
    --foreground: #111111;
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-display), sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}

@layer utilities {
  .text-brand-pink {
    color: #FF7B93;
  }
  .bg-brand-dark {
    background: linear-gradient(135deg, #1C151B 0%, #0A1118 100%);
  }
  .border-brand-dark {
    border-color: rgba(255, 255, 255, 0.1);
  }
}
